/*Argentinos Por El Mundo*/
.seleccion{ /*Borrar errores cuando se actualiza algo en main.css*/
    display: grid; /*Acomodo imágenes*/
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,1fr);
    align-content: stretch;
    justify-content: stretch;
    @include tablet{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(7,1fr);
        text-align: center;
    }
    @include movil{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(14,1fr);
        justify-content: center;
        text-align: center;
    }
    &__jug{
        display: flex;
        flex-flow: column wrap;
        margin: 0.625rem;
        @include movil{
            transition: none;
        }
        @include tablet{
            transition: none;
        }
    }
    &__imagenJug:hover{
        transform: scale(1.5,1.5); /*Scalo la imagen al pasar por arriba*/
        @include movil{
            transform: none;
        }
        @include tablet{
            transform: none;
        }
    }
    &__imagenJug{ /*Defino tamaño de imagen*/
        width: 80%;
        height: 15vh;
        object-fit: cover;
        object-position: top;
        transition: all 2s;
        @include movil{
            width: 100%;
            height: 60%;
        }
        @include tablet{
            height: 25vh;
        }
    }
    &__pJug{
        color: black;
        :hover{
            color:rgb(29, 82, 126) ; /*Cambio de color el párrafo al pasar por arriba*/
        }
    }
}

/*medallas*/
.conquistas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include movil{
        display: none;
    }
    @include tablet{
        margin: 3.125rem;
    }
}
.img_Conquistas{
    width: 90%;
    margin: 0.625rem;
    border-radius: 0.625rem;
    @include tablet{
        display: none;
    }
}
.medalla{  
    border: black 0.0625rem*3 solid;
    margin: 0.625rem;
    padding: 0.625rem;
    width: 100vh;
    text-align: center;
    @include tablet{
        width: 80%;
    }
    &__juego{
        margin: 0.7rem;
        padding: 0.18rem*2;
        font-weight: bolder;
    }
    &__oro{
        list-style: none;
        color: gold;
    }
    &__plata{
        list-style: none;
        color: silver;
    }
    &__bronce{
        list-style: none;
        color: rgba(73, 22, 22, 0.541);
    }
}
/*Tabla*/

.destacados{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    @include movil{
        display: none;
    }
}
.table{
    background-color: black;
    flex-grow: 1;
    text-align: center;
    color: white;
    font-weight: 700;
    &__list{
        color: rgb(66, 66, 245);
        list-style-type:none;
        text-decoration: none;
    }
}
th{
    font-size: 1,875rem;
    color: rgb(248, 248, 68);
}