/*Contact*/
$redes: ( /*Declaramos nuestro mapa*/
send: #38afdf,
reset:#38afdf
);
form{
    background-color:#999;
    margin: 0.625rem auto;
    padding: 0.625rem;
    width: 37.5rem;
    text-align: center;
    border-radius: 0.625rem;
    @include movil{
        background-color:black;
        margin: 0.625rem auto;
        padding: 0.625rem;
        text-align: center;
        border-radius: 0.625rem;
        color: white;
        font-size: 0.625rem;
        width: 20rem;
    }
}

.fieldset{
    &__img{
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 0.1875rem;
    }
    &__field{
        color: black;
        padding: 0.625rem;
        width: 18.75rem;
    }
    &__conditions{
        @include movil{
            display: flex;
            width: 100%;
            margin: 1.25rem;        }
    }
    &__btn{/*MAP*/
    @each $red, $color in $redes {
       &--#{$red} {
           background-color: $color;
           border: 0.0625rem solid black;
           border-radius: 0.5rem;
           width: 12.5rem;
           &:hover{
            background-color: white;
           }
           @include movil{
            width: 8rem;
            background-color: #38afdf;
            border: 0.0625rem solid black;
            border-radius: 0.5rem;
               &:hover{
                   background-color: #38afdf;
               }
           }
           
         }
    }
}
}


