/*Elimino videos.html en versión movil*/
.presentacion{
    background-image: url(../../assets/bg-home);
    object-fit: cover;
    object-position: top;
    
    &__video{
        @include movil{
            display: none;
        }
    }
    &__btn{
        width: 120px;
        background-color: $b-color;
        height: 15vh;
        border: none;
        border-radius: 25px;
    }
    &__btn a{
        color: white;
    }
}
/*Index*/
.index_p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    border: solid 0.3125rem black;
    background-color: $b-color;
    color: white;
    padding: 0.1875rem;
    margin: 0.625rem 0.625rem;
}

