/*Noticias.html*/
.sectionNoticias{
    width: 85%;
    height: 31.25rem;
    margin: 1.25rem;
    object-fit: cover;
    border-radius: $diez;
    @include movil{
        width: 15.625rem;
        height: 9.375rem;
    }
    @include tablet{
        width: 80vh;
        object-fit: cover;
    }
}
.noticias{
    display: grid;
    grid-template-areas:"a b" 
                        "c d" ;
    grid-template-rows:repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;        
    margin: $diez;        
    &__1{
        grid-area: a;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-items: center;
    }
    &__2{
        grid-area: b;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-items: center;
    }
    &__3{
        grid-area: c;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-items: center;
    }
    &__4{
        grid-area: d;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-items: center;
        }
        @include movil{
        grid-template-areas:"a"
                            "b"
                            "c"
                            "d";
        grid-template-columns:1fr;
        grid-template-rows: repeat(4,1fr);
    }
    @include tablet{
        grid-template-columns:1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: "a"
                             "b"
                             "c"
                             "d";
    }
}
.pNoticias{
    font-weight: bold;
    @include tablet{
        margin: $diez;
    }
    @include movil{
        margin: $diez;
    }
}