/*Fotos.html*/
.slider{ /*Personalizo el slider de bootstrap*/
    &__imagen{
        width: 100vh;
        height: 100vh;
        object-fit: cover;
        object-position: top;
        @include tablet{
            object-position: center;
            height: 60vh;
        }
        @include movil{
            max-width: 100vh;
            height: 50vh;
            object-position: center;
        }
    }
}